<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="icon" href="./img/Weather icon.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this page to access Weather</p>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="error-msg"></p>
            <p id="response-msg"></p>
        </div>
        {{>footer}}
        <script src="./js/app.js"></script>
    </body>
</html>